html
table(border='1')
	tr(align='center')
		td(width='20%')
			b FAB COMMAND
		td(width='80%')
			b PARAMETER
	-each fab_mod in fab_modules
		tr(align='left')
			td(width='20%')= fab_mod.name
			td(width='80%')
				a(href=fab_mod.url )= fab_mod.parameter
